.venv-train/
.Xil/
build/
outputs/
tools/
!pc/tools/
!pc/tools/*.py
xsim.dir/
__pycache__/
*.pyc
*.pyo
*.jou
*.log
*.pb
*.str
*.wdb
*.wcfg
*.cache
*.tmp
*.bak
*.orig
*.zip
*.tar
*.tar.gz
*.elf
*.bit
*.bin
*.xsa
*.dcp
*.runs/
*.sim/
*.ip_user_files/
*.hw/
*.sdk/
webtalk*
vivado_*.backup.*
xsim_*.backup.*
